article {
    border: 2px solid #A98DE3;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: inherit;
    height: 12vh;
    width: 45vw;
}

article div {
    align-self: center;
}
img {
    height: 64px;
    width: 80px;
}

input {
    border: 2px solid #A98DE3;
}

button {
    background-color: #A98DE3;
}